<div id="menu-bar-left">
    <h2 class="bar-link"><a href="/enterprise/representatives/add">▪ Add a Representative</a></h2>
    <h2 class="bar-link"><a href="/enterprise/courses/add">▪ Add a Course</a></h2>
    <h2 class="bar-link"><a href="/enterprise/courses/assign">▪ Assign Courses</a></h2>
    <h2 class="bar-link"><a href="/enterprise/employees/add">▪ Add an Employee</a></h2>
    <h2 class="bar-link"><a href="/enterprise/representatives/view">▪ Manage Representatives</a></h2>
    <h2 class="bar-link"><a href="/enterprise/employees/view">▪ Manage Employees</a></h2>
    <h2 class="bar-link"><a href="/enterprise/progress/view">▪ View Progress</a></h2>
    <h2 class="bar-link"><a href="/enterprise/courses/view">▪ Manage Courses</a></h2>
</div>