<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light" id="main-navbar">
    <a class="navbar-brand" href="/login">
        <div class="page-header">
            <!-- <a class="btn btn-dark" data-toggle="collapse" href="#menu-bar-left" role="button" aria-expanded="false" aria-controls="menu-bar-left">↴</a> -->
            <h1>Language on Arrival</h1>
            <img src="/media/onarrival-gray.png" alt="Language on Arrival Logo">
        </div>
    </a>
    <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navigation" id="nav-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav-container">
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mailto:contact@onarrival.uk">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>