<%- include("includes/head.ejs") %>
</head>

<body>
    <%- include("includes/navigation.ejs") %>
    
    <div id="login-options">
        <div id="company-login-option">
            <a href="/login/company" class="login-link">
                <div>
                    <h2 class="title-decor login-type">Company</h2>
                </div>
            </a>
        </div>
        <div id="student-login-option">
            <a href="/login/student" class="login-link">
                <div>
                    <h2 class="title-decor login-type">Student</h2>
                </div>
            </a>
        </div>
    </div>

    <%- include("includes/end.ejs") %>

    <script>
        $(document).ready(() => {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            try {
                const active = urlParams.get('active');
                if(active == "false") {
                    setTimeout(() => {
                        alert("Your have not yet been enroled to any course. Please contact your employer.");
                    }, 100);
                }

                const disabled = urlParams.get('disabled');
                if(disabled == "true") {
                    setTimeout(() => {
                        alert("Your account has been disabled. Please contact your employer for more information.");
                    }, 100);
                }
            } catch(error) { }
            });
    </script>

</body>
</html>