<%- include("includes/head.ejs") %>
</head>

<body>
    <%- include("includes/navigation.ejs") %>
    
    <div class="container-lg horizontal-stripe light-stripe">
        <h2>Stripe 1</h2>
    </div>
    <div class="container-fluid horizontal-stripe dark-stripe">
        <h2>Stripe 2</h2>
    </div>
    <div class="container-lg horizontal-stripe light-stripe">
        <h2>Stripe 3</h2>
    </div>

    <%- include("includes/end.ejs") %>

</body>
</html>