<%- include("../includes/head.ejs") %>
</head>

<body>
    <%- include("../includes/navigation-panel.ejs") %>
    
    <div class="left-bar">
        <h2>Add a Representative</h2>
        <h2>Assign Courses</h2>
        <h2>Add an Employee</h2>
        <h2>Manage Representatives</h2>
        <h2>Manage Employees</h2>
        <h2>View Progress</h2>
        <h2>View Courses</h2>
    </div>
    <div class="course-content"></div>

    <footer class="stick-bottom" id="page-footer">(c) Damian Wojtunik, Language on Arrival 2020</footer>

    <%- include("../includes/end.ejs") %>

</body>
</html>