<%- include("../includes/head.ejs") %>
</head>

<body>
    <%- include("../includes/navigation-panel.ejs") %>
    
    <%- include("../includes/student-bar.ejs") %>

    <div class="course-content" id="main-student-panel">
        <img src="/media/icons/welcome.png" alt="Welcome">
        <p>You can select <b>chapters</b> from the menu bar on the left.</p>
        <p>In each chapter, you will find <b>learning resources</b> and a number of <b>exercises</b>.</p>
        <p>Complete the exercises in order to <b>pass</b> the course.</p>
        <p><b>Good luck!</b></p>
        <img src="/media/icons/clover.png" alt="Clover" id='clover'>
    </div>

    <footer class="stick-bottom" id="page-footer">(c) Damian Wojtunik, Language on Arrival 2020</footer>

    <%- include("../includes/end.ejs") %>

</body>
</html>