<%- include("../includes/head.ejs") %>
</head>

<body>
    <%- include("../includes/navigation-panel.ejs") %>
    
    <%- include("../includes/student-bar.ejs") %>

    <div class="course-content" id="main-student-panel">
        <p style="width: 100%; float: left; margin: 0 1rem;">Hello, <b id="name-surname"></b>!</p>
        <img src="/media/icons/welcome.png" alt="Welcome">
        <p>You can select <b>chapters</b> from the menu bar on the left.</p>
        <p>In each chapter, you will find <b>learning resources</b> and a number of <b>exercises</b>.</p>
        <p>Complete the exercises in order to <b>pass</b> the course.</p>
        <p><b>Good luck!</b></p>
        <img src="/media/icons/clover.png" alt="Clover" id='clover'>
    </div>

    <footer class="stick-bottom" id="page-footer">(c) Damian Wojtunik, Language on Arrival 2020</footer>

    <%- include("../includes/end.ejs") %>

    <script>
        $.ajax({
            url: "/student/get-full-name",
            method: "GET",
            data: {},
            success: data => {
                $("#name-surname").text(data.fullName);
            }
        });

        $(document).ready(() => {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            try {
                const disabled = urlParams.get('disabled');
                if(disabled == "true") {
                    setTimeout(() => {
                        alert("The exercise you tried to access has been disabled. Please contact your employer for more information.");
                    }, 100);
                }
            } catch(error) { }
            });
    </script>

</body>
</html>