:root {
    --main-color: #7e9bcc;
    --main-color-darker: #6e91cc;
    --dark-font: #303030;
}

body {
    font-family: "Amiri", "Times New Roman", serif;
}

#page-footer {
    font-family: "Playfair Display SC", "Times New Roman", serif;
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    height: 3rem;
    padding: 1rem;
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.75);
    bottom: 0;
    width: 100%;
}

.course-content h3 {
    font-family: "Playfair Display SC", "Times New Roman", serif;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bolder;
}

.stick-bottom {
    position: fixed;
}

a {
    text-decoration: none !important;
    color: var(--dark-font) !important;
}

li {
    margin: 0 0.75em;
    font-size: 1.15rem;
    font-family: "Playfair Display SC", "Times New Roman", serif;
}

form {
    width: 100%;
}

#navigation li a {
    color: var(--dark-font);
    opacity: 0.75;
}

#navigation li a:hover {
    opacity: 1;
    transition: all .1s ease-in-out;
}

h1 {
    font-family: "Playfair Display SC", "Times New Roman", serif;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page-header h1 {
    margin: 0.5em 0;
    font-size: 1.25rem;
    color: var(--dark-font);
}

.page-header img {
    width: 3rem;
    margin: 0 1rem;
}

#main-navbar {
    justify-content: space-evenly;
    box-shadow: 0px 2px 4px -3px rgba(0,0,0,0.75);
}

.nav-container {
    width: 40%;
    margin: 0;
}

#navigation {
    justify-content: space-evenly;
}

.dark-stripe {
    min-height: 18rem;
    background: #343a40;
    background-image: url('../media/people-learning.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}

.light-stripe {
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.stripe-description {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0.75rem 0;
    align-items: center;
}

.stripe-titles {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin: 0.75rem 0;
}

.subtitle {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-size: 1.25rem;
}

.title-decor {
    font-family: "Great Vibes", "Times New Roman", serif;
    font-size: 2.5rem;
    margin: 0.75rem;
    min-width: 15rem;
    flex: 1;
}

.title-small {
    font-size: 1.65rem;
    width: 100%;
}

#register-company {
    font-family: "Playfair Display SC", "Times New Roman", serif;
    font-size: 1rem;
    margin: 1.5rem 0;
}

#project-team {
    background: white;
    width: 100%;
    text-align: right;
    padding: 2rem 3rem;
}

#employee-stripe {
    background: #f2f2f2;
    width: 100%;
    text-align: right;
    padding: 2rem 3rem;
}

#employee-stripe h3 {
    font-family: "Playfair Display SC", "Times New Roman", serif;
    font-size: 1.3rem;
    margin: 0.1em;
}

#employee-stripe p {
    margin-top: 0.5rem;
    text-align: center;
    padding: 1rem;
}

#req-contact {
    font-weight: bold;
    color: #8c0404;
}

.stripe-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.function-btn {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.function-btn img {
    width: 9rem;
    transition: all .2s ease-in-out;
}

.function-btn img:hover {
    transform: scale(1.1);
}

.function-btn figcaption {
    font-family: "Playfair Display SC", "Times New Roman", serif;
    font-size: 1rem;
    margin: 1.5rem;
    text-align: center;
}

#edin-stripe {
    background-image: url("../media/edin.jpg");
}

.about-card {
    width: 90%;
    transition: all .3s ease-in-out;
    opacity: 0.9;
}

.about-card:hover {
    transform: scale(1.02);
    opacity: 1;
}

.about-card img {
    transition: all .3s ease-in-out;
    -webkit-filter: grayscale(15%); 
    filter: grayscale(15%);
}

.about-card img:hover {
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

.card-text {
    text-align: justify;
}

.title-reverse {
    text-align: center;
}

#steps-title {
    flex: 1.6;
    text-align: center;
}

.arrow {
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10%;
    transition: 1s ease-in;
}

.arrow:hover {
    transform: rotate(360deg);
}

#stat-note {
    margin-top: 1rem;
    width: 100%;
}

#last-stripe {
    display: flex;
    padding: 2rem;
    height: 8rem;
    justify-content: center;
}

#registration-page {
    overflow-y: auto;
    position: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90%;
    background-image: url("../media/learning.jpg");
    opacity: 0.8;
    padding: 5%;
}

#request {
    overflow-y: auto;
    position: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90%;
    opacity: 0.8;
    padding: 5%;
    background-image: url("../media/office.jpg");
}

#request .transparent-form {
    background-color: rgba(255, 255, 255, 0.95);
}

.transparent-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    margin: 3rem 0;
}

#passMatch {
    color: #8b0000;
}

#passEightChar {
    color: #8b0000;
}

#register-button {
    cursor: not-allowed;
    margin: 0 auto;
}

#login-options {
    position: fixed;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

#student-login-option {
    width: 100%;
    height: 50%;
    background-image: url("../media/london-student.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.25;
    transition: all .5s ease-in-out;
    -webkit-filter: grayscale(30%); 
    filter: grayscale(30%);
}

#company-login-option {
    width: 100%;
    height: 50%;
    background-image: url("../media/london-corp.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.25;
    transition: all .5s ease-in-out;
    -webkit-filter: grayscale(30%); 
    filter: grayscale(30%);
}

#student-login-option:hover {
    opacity: 0.75;
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

#company-login-option:hover {
    opacity: 0.75;
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

.login-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.login-link:hover {
    opacity: 1;
}

.login-type {
    color: #fafafa;
    font-size: 2.75rem;
    padding: 0.5rem 2rem;
    text-shadow: 8px 8px 10px rgba(0,0,0);
    position: fixed;
    bottom: 5%;
}

#company-login-form {
    position: fixed;
    width: 100%;
    height: 90%;
    background-image: url("../media/company-login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#student-login-form {
    position: fixed;
    width: 100%;
    height: 90%;
    background-image: url("../media/student-login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80%;
}

#login-form-container {
    width: 90%;
    margin: 5%;
}

#login-form-container label {
    font-family: "Playfair Display SC", serif;
    font-weight: 100;
}

#login-button {
    margin: 0 auto;
    font-family: "Playfair Display SC", serif;
}

.course-content {
    overflow: auto;
}

#panel-form {
    margin-top: 0.75rem;
}

#menu-bar-left {
    padding-bottom: 1rem;
    background: #f8f9fa;
    box-shadow: 1px 1px 4px -3px rgba(0,0,0,0.75);
    z-index: 10;
    max-height: 20%;
    overflow: auto;
}

.bar-link {
    font-family: "Playfair Display", "Times New Roman", serif;
    margin: 1.75rem 0;
    font-size: 1.1rem;
    padding-left: 0.75rem;
    transition: all .2s ease-in-out;
}

.bar-link:hover {
    font-size: 1.15rem;
    font-weight: bold;
}

.modal-body img {
    margin: 0 1.5rem;
    width: 20%;
    float: left;
}

.modal-body p {
    padding: unset;
}

.function-btn-panel {
    width: 90%;
    margin: 1rem 5% 0 5%;
    color: white !important;
    font-family: "Playfair Display SC", serif;
}

.main-panel {
    display: flex;
    flex-direction: column;
}

#menu-bar-left a img {
    margin: 0 0.5rem 0.25rem 0;
    width: 1.25rem;
}

.panel-row {
    justify-content: center; 
    margin-top: 0.75rem;
}

#chapter-table {
    width: 90%;
    margin: 2rem auto;
}

.course-content form {
    width: 90%;
}

.course-content {
    padding-bottom: 2rem;
}

#vex-title {
    text-align: center;
    margin: 3rem 0;
}

.voc-ex-table {
    margin-bottom: 3rem !important;
}

.vex-chapter-title {
    margin: 1.5rem 0 2rem 0;
}

#popup-window {
    z-index: 1051;
    position: fixed;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 80%;
    background-color: rgba(255,255,255);
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgb(0,0,0,0.75);
    -webkit-animation: zoomup 0.9s;
    -moz-animation:    zoomup 0.9s;
    -o-animation:      zoomup 0.9s;
    animation:         zoomup 0.9s;
}

#window-cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    top: 0;
    z-index: 1050;
}

#top-stripe {
    height: 6%;
    background: #343a40;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 0.6rem;
    text-align: right;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    color: white;
}

#top-stripe p {
    cursor: pointer;
    font-size: 1rem;
}

#window-words {
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    overflow-y: auto;
}

#window-words h2 {
    font-family: "Playfair Display SC", serif;
    font-weight: bolder;
    margin-bottom: 1.5rem;
    font-size: 1.15rem;
}

#word-counter {
    text-align: right;
    width: 100%;
    margin-bottom: 3rem;
}

#submit-word-button {
    margin: 0 35%;
    width: 30%;
}

.company-card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.company-card img {
    width: 6rem;
    height: 6rem;
    margin-right: 1.5rem;
}

#main-company-panel h2 {
    font-family: "Playfair Display SC", serif;
    font-size: 1.25rem;
    font-weight: 900;
    text-align: center;
    margin: 1.5rem 0;
    text-transform: lowercase;
}

#start-investing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#start-investing img {
    width: 3rem;
    margin-right: 0.5rem;
}

.function-button {
    min-width: 15rem;
    float: left;
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.function-button figcaption {
    font-family: "Playfair Display", serif;
    color: #343a40;
    font-weight: bold;
    margin: 0.75em 0;
    font-size: 1.1em;
}

.function-button img {
    max-width: 9rem;
    height: auto;
}

.fun-btn-anchor {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10rem;
}

.fun-btn-anchor img {
    transition: all .2s ease-in-out;
}

.fun-btn-anchor img:hover {
    transform: scale(1.1);
}

.buttons-in-panel {
    display: flex;
    flex-direction: column;
}

.leader-card {
    margin-top: 1.5rem;
}

@media (min-width: 768px) {

    .leader-card {
        margin-top: 0rem;
    }

    #menu-bar-left {
        position: fixed;
        width: 20%;
        height: 90%;
        background: #f8f9fa;
        box-shadow: 1px 1px 4px -3px rgba(0,0,0,0.75);
        z-index: 10;
        overflow: auto;
        max-height: unset;
    }

    .course-content {
        position: fixed;
        width: 80%;
        height: 84%;
        right: 0;
        padding-bottom: 1rem;
    }

    .course-content form {
        width: 80%;
    }

    #panel-form {
        margin-top: unset;
    }

    .page-header h1 {
        font-size: 1.5rem;
    }

    .light-stripe {
        flex-direction: row;
    }

    .stripe-steps {
        flex-direction: row;
        align-items: flex-end;
        margin: 0.5rem 2rem;
        flex: 3;
        justify-content: space-evenly;
    }
    
    .about-card {
        width: 75%;
    }

    #registration-page {
        padding: 0 15% 15% 15%;
    }

    #request {
        padding: 0 15% 15% 15%;
    }

    #login-options {
        flex-direction: row;
    }

    #student-login-option {
        width: 50%;
        height: 100%;
    }

    #company-login-option {
        width: 50%;
        height: 100%;
        margin-top: 0;
    }

    .login-type {
        font-size: 4rem;
    }

    #login-form-container {
        width: 40%;
    }

    #student-login-form {
        background-position: center;
    }

    .arrow {
        display: flex;
    }

    .modal-body p {
        padding: 1rem;
    }

    #popup-window {
        left: 28%;
        width: 44%;
    }

    #submit-word-button {
        margin: 0 43%;
        width: 14%;
    }
    
    .buttons-in-panel {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .company-card {
        flex-direction: row;
    }
}

@keyframes zoomup {
    from { transform: scale(0); }
    to { transform: scale(1); }
}